/*标题载入*/
@keyframes title{

    0%{
        display:none;
        transform: translateY(-20px);

    }
    20% {
        display: block;
        transform: translateY(-20px);
    }
    100%{
        display: block;
        color: white;
    }
}
/*导航栏加载*/
@keyframes navrun {
    0%{display: none;}
    1%{
        display: block;
        transform: translateY(-60px);
    }
}
/*箭头提示动画*/
@keyframes flag_down{
    10%{

    }
    50% {
        transform: translateY(10px);

    }
    90%{
        transform: translateY(0px);
    }
    100%{

    }
}

.navigate{
    position: fixed;
    top:0px;
    height: 60px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    animation: navrun 2s;
    line-height: 60px;
}
 .func a {
    text-decoration: none;
     margin-right: 15px;
    color: white;
    font-size:16px;
}
.func a:hover {
    color:#FF8726;
}
.navigate .github{
    display: inline-block;
    width: 60%;

}
.navigate .func {
    display: inline-block;
    width:30%;
    text-align: right;
}

body {
    margin: 0px;
    background-color: #ccc;
}
.title {
    animation: title 2s;
    text-align: center;
    margin-top:140px;
    font-size: 50px;
    color: white;
}
.search_tag{
    width:100%;
    height: 430px;
}
.guess_you_like_main
{
    margin-top:30px;
    width:80%;
    margin-left:9%;
    color: white;
    font-size: 28px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.main{
    width:80%;
    height: auto;
    margin-left:10%;
}
.good{
    width: 16%;
    padding: 2%;
    margin:2%;
    vertical-align:top;
    margin-bottom: 5%;
    background-color: #fff;
    display: inline-block;
    box-shadow:1px 1px 10px 0px #999;
}
.good:hover{
    box-shadow:2.5px 2.5px 20px 0px #999;
    transform: translateX(-2px) translateY(-3px);

}
.g_pic {
    text-align: center;
    width:100%;


}

.g_pic > img{
    width:100%;
    max-height: 194px;
}

.dprice{
    margin-top:10px;
    text-align: right;
}

.pre_price{
    color: #888;
    margin-right: 10px;
    text-decoration:line-through;
}

.g_title{
    margin-top:10px;
    font-size:12px ;
    min-height: 48px;
}

/*云图css*/
#tagsList {
    position: absolute;
    left:50%;
    margin-left: -150px;
    top:40%;
    width: 350px;
    height: 350px;
}

#tagsList a {

    position: absolute;

    top: 0px;

    left: 0px;

    font-family: Microsoft YaHei;

    color: #545454;

    font-weight: bold;

    text-decoration: none;

    padding: 3px 6px;

}

#tagsList a:hover {

    color: white;

    letter-spacing: 2px;

}

#getnext{
    background-color: #fff;
}